@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100;300;400;700;900&family=Raleway:wght@100;300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%;
}
/* Header & Nav */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #272d3b;
    width: 100vw;
    padding: 1rem 10rem;
}
.logo--container {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.logo--container img{
    max-width: 12rem;
    margin-bottom: .3rem;
}
.logo--container span {
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #FFD700;
}
.nav__items {
    display: flex;
    list-style-type: none;
}
.nav__items a {
    margin-right: 2rem;
    font-size: 2rem;
    letter-spacing: .5rem;
    font-family: 'Raleway', sans-serif;
    color: #FFD700;
    text-decoration: none;
}
.nav__items li:hover {
    border-bottom: 2px solid #FFD700;
    transition: .3s ease-in-out;
}
/* LISTINGS */
.listings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #21252e;
    padding: 5rem 5rem;
}
.listings h1 {
    font-size: 7rem;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    color: #FFD700;
    margin-bottom: 10rem;
    background: #272b35;
    border-radius: 1rem;
    padding: .7rem 1rem;
}
.listing--container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 35rem;
    border-radius: .3rem;
    background: #272b35;
    margin-bottom: 8rem;
    padding: 2rem 4rem;
}
.listing__img--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 3rem;
}
.listing__img--wrapper img {
    width: 30rem;
    height: 25rem;
    border-radius: .3rem;
}
.listing__img--wrapper h2 {
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    color: #FFD700;
    margin-bottom: 1rem;
}
.listing__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 3rem;
}
.listing__info--container h4 {
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    color: #FFD700;
    margin-bottom: 1rem;
}
.listing__info--container span {
    font-size: 1.6rem;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    color: #FFD700;
    margin-bottom: 1rem;
}
.listing__description--container {
    padding: 2rem;
}
.listing__description--container p {
    font-size: 1.8rem;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    color: #FFD700;
    margin-bottom: 1rem;
}
.listing__description--container p:last-child {
    font-weight: 300;
}

